<h1><%= feed.escape('title') %></h1>
<button id='feed_refresh'>Refresh</button>
<ul>
  <% feed.get('entries').each(function(entry) { %>
    <li><a href="#feeds/<%= feed.escape('id') %>/entries/<%= entry.escape('id') %>"><%= entry.escape('title') %></a></li>
  <% }); %>
</ul>